includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        - '/Call to an undefined method/'
        - '/Parameter \#1 \$array of function usort is passed by reference/'
        
