parameters:
    level: 8
    paths:
        - src/
    ignoreErrors: 
        - '#Call to an undefined method#'
        - '#Property App\\Entity\\.*::\$id is never written#'
        - '#Property App\\Entity\\.*::\$id .* unusedType#'
    includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
         
