parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src/Entity/Utilisateur.php
        - src/Controller/AbstractAdminController.php
        - src/Controller/AdminController.php
        - src/Controller/AuthController.php
        - src/Controller/CalendarController.php
        - src/Controller/EmployeeProfileController.php
        - src/Controller/GoogleController.php
        - src/Controller/ProfileController.php
        - src/Controller/ResetPasswordController.php
        - src/Controller/UtilisateurController.php
        - src/Service/RecaptchaService.php
        - src/Twig/NotificationExtension.php
        - src/Twig/EmployeeNotificationExtension.php
    ignoreErrors:
        - '#should return DateTime\|null but returns DateTimeInterface\|null#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::getRole\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::getId\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::getPrenom\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::getNom\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::getTheme\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::getAvatar\(\)#'
